<form action="/message/create" method="POST">
    <label for="message-content" class="text-primary"><strong>What’s on your mind?</strong></label>
    <div class="input-group mb-3">
        <input id="message-content" class="form-control text-white border-primary bg-primary" type="text" name="content" autocomplete="off">
        <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="Send">
        </div>
    </div>
</form>
