<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buzzle</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Buzzle</h1>
        <ul class="user-toolbar">
            <% if (!session.authorized) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } else { %>
                <%= session.login %>
                <form method="POST" action="/logout" style="display:inline">
                    <input type="submit" value="logout">
                </form>
            <% } %>
        </ul>
    </header>
    <main>
        <ul class="messages">
            <li class="message">Nothing to see here</li>
        </ul>
    </main>
</body>
</html>
